@import './variables.scss';

.planet-profile-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.resident-list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	border-top: 1px solid #FFE81F;
	
	padding: 10px;

	transition: box-shadow .3s ease-in-out;
	transition: margin-top .3s ease-in-out;

	&:hover {
		box-shadow: white 0px 14px 28px, white 0px 10px 10px;
		margin-top: 10px;
	}
}

.resident-list-item h2 {
	color: red;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}


.resident-details-bar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: row;
	font-size: 20px;
	color:#FFE81F;
}

.planet-info-bar {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 50px;
	border-top: 1px solid #FFE81F;
	border-bottom: 1px solid #FFE81F;
}

.planet-info-bar h2 {
	padding: 10px;
	color: red;
	text-decoration: underline;;
}

.planet-details-bar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.planet-category-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center !important;
}


#planet-name {
	font-size: 100px;
	border: 10px solid red;
	color: red;
	border-radius: 40px;
	padding: 40px;
	text-decoration: underline;
}

#residents-header {
	text-decoration: underline;
	color: red;
}